div .card {
  border: none;
  min-width: 128px;
  max-width: 128px;
}

.card:hover .card-img-top{
  opacity: 0.8;
  transition: 0.2s;
}

.card-img-top {
  max-height: 150px;
  min-height: 150px;
  /* max-width: 250px; */
}

.card-group {
  display: flex;
  flex-flow: row wrap;
}

.badge-sale-tag {
  background: red;
  position: relative;
  bottom: 205px;
  left: 60px;
  z-index: 1;
}

.badge-sale-expiration {
  position: relative;
  bottom: 80px;
}

.back-btn {
  z-index: 1000;
}

.card-shift-up {
  position: relative;
  bottom: 40px;
}