div .card {
  border: none;
  min-width: 128px;
  max-width: 128px;
}

.card:hover .card-img-top{
  opacity: 0.8;
  transition: 0.2s;
}

.card-img-top {
  max-height: 150px;
  min-height: 150px;
  /* max-width: 250px; */
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}

.badge-sale-tag {
  background: red;
  position: relative;
  bottom: 205px;
  left: 60px;
  z-index: 1;
}

.badge-sale-expiration {
  position: relative;
  bottom: 80px;
}

.back-btn {
  position: relative;
  z-index: 2;
  margin-top: 30px  ;
}

.card-shift-up {
  position: relative;
  bottom: 40px;
}
.sale-text {
  font-size: 11pt;
}

.banner {
  max-height: 30vh;

}
.carousel-caption {
  font-weight: 700;
}

.center {
  position: relative;
  align-items: center;
}

.narrow {
  width: 50%;
}
.carousel {
  margin-top: 25px;
}