div .card {
  border: none;
  min-width: 128px;
  max-width: 128px;
}

.card:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.card-img-top {
  max-height: 150px;
  min-height: 150px;
  /* max-width: 250px; */
}

.card-group {
  display: flex;
  flex-flow: row wrap;
}

.badge-sale {
  background: red;
  position: relative;
}