.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Wipe top afterwards */

.body {
  margin-left: 64px;
}

.body-toggled {
  margin-left: 240px;
  transition: 0.2s;
}

.align-left {
  position: absolute;
  left: 17px;
  bottom: 12px;
}

.form-add {
  position: relative;
  bottom: 34px;
  left: 29px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.align-center {
  position: relative;
  margin: auto;
  width: 80%;
  margin-top: 5vh
}

.sidenav {
background: linear-gradient(#db3d44, white) !important;

}

.form-coupon {
  max-width: 125px;
}

.button-coupon {
  position: relative;
  bottom: 38px;
  left: 130px
}

.btn-danger {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.form-checkout {
  position: absolute;
  max-width: 150px;
  bottom: -26px;
  left: 105px;
}

.button-checkout {
  position: relative;
  bottom: 38px;
  left: 155px;
}